.button {
    -fx-font-size: 18px;
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#atacar {
    -fx-background-color: #0E99A4;
    -fx-translate-x: 760px;
    -fx-translate-y: 189.5px;
    -fx-min-width: 140px;
    -fx-min-height: 42px;
}

#descansar {
    -fx-background-color: #0E8050;
    -fx-translate-x: 915px;
    -fx-translate-y: 137px;
    -fx-min-width: 140px;
    -fx-min-height: 42px;
}

#mochila {
    -fx-background-color: #FFB200;
    -fx-translate-x: 760px;
    -fx-translate-y: 137px;
    -fx-min-width: 140px;
    -fx-min-height: 42px;
}

#rendirse {
    -fx-background-color: #B10234;
    -fx-translate-x: 915px;
    -fx-translate-y: 85px;
    -fx-min-width: 140px;
    -fx-min-height: 42px;
}


/*
Hover: Estilo de cuando tienes el ratón encima del botón:
- Efecto de sombra.
- Color del texto al tener el ratón encima del botón.

Valores del hover:
    gaussian: Tipo de sombra.
    rgba(0,0,0,0.8): Los tres primeros valores son el RGB, el último la transparencia.
    x1: Distancia horizontal entre la sombra y el objeto.
    x2: Distancia vertical entre la sombra y el objeto.
    x3: Desenfoque de la sombra.
    x4: Tamaño de la extensión de la sombra.
*/

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 0, 1, 3, 5);
    -fx-text-fill: white;
}
