
#imagen {
    -fx-translate-x: 215px;
    -fx-translate-y: -21.5px;

}

#nombre {
    -fx-translate-x: 285px;
    -fx-translate-y: -60px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#vitalidad {
    -fx-translate-x: 340px;
    -fx-translate-y: -155px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}

#ataque {
    -fx-translate-x: 340px;
    -fx-translate-y: -235px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}


#defensa {
    -fx-translate-x: 340px;
    -fx-translate-y: -242px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}

#ataqueEspecial {
    -fx-translate-x: 340px;
    -fx-translate-y: -250px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}

#defensaEspecial {
    -fx-translate-x: 340px;
    -fx-translate-y: -257px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}


#velocidad {
    -fx-translate-x: 340px;
    -fx-translate-y: -50px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}

#estamina {
    -fx-translate-x: 340px;
    -fx-translate-y: -62.5px;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}

#buscarBarra {
-fx-background-color: dodgerblue;
-fx-translate-x: 180px;
-fx-translate-y: 480px;
-fx-font: bold 20px arial;
-fx-text-fill: white;
-fx-max-width: 250px;
-fx-max-height: 150px;

}

#noEncontrado {
    -fx-translate-x: 0px;
    -fx-translate-y: 0px;

}

#back {
    -fx-background-color: transparent;
    -fx-translate-x: 120px; /* izquierda-derecha */
    -fx-translate-y: -10px; /* abajo-arriba */
    -fx-min-width: 160px;
    -fx-min-height: 62px;
    -fx-background-image: url('img/botones/pokedex-atras.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* En desuso
#buscarButton {
    -fx-background-color: transparent;
    -fx-translate-x: 380px;
    -fx-translate-y: 30px;
    -fx-min-width: 160px;
    -fx-min-height: 62px;
    -fx-background-image: url('img/botones/pokedex-buscar.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
*/

#muteButton {
    -fx-background-color: transparent;
    -fx-translate-x: 395px; /* izquierda-derecha */
    -fx-translate-y: -83.5px; /* abajo-arriba */
    -fx-min-width: 160px;
    -fx-min-height: 62px;
    -fx-background-image: url('img/botones/pokedex-mute.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}





.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 0, 1, 3, 5);
    -fx-text-fill: white;
}