/*
CONFIGURACIÓN GENERAL DE TODOS LOS BOTONES:
- TAMAÑO DE FUENTE
- ANCHO DEL BOTÓN
- ALTURA DE BOTÓN
- COLOR DEL FONDO DEL BOTÓN DEFAULT
- COLOR DEL TEXTO
*/

.button {
    -fx-font-size: 18px;
    -fx-background-color: brown;
    -fx-text-fill: white;
}

/*
ESTILO DEL BOTÓN INDIVIDUAL (COMBATE, POKEDEX, ENTRENADOR, MOCHILA, ETC...:
- COLOR DE FONDO DEL BOTÓN
- POSICIÓN X DEL BOTÓN
- POSICIÓN Y DEL BOTÓN
*/

#combateButton {
    -fx-background-color: orange;
        -fx-translate-x: -120px;
        -fx-translate-y: 132px;
        -fx-min-width: 180px;
        -fx-min-height: 45px;
        -fx-background-image: url('https://i.imgur.com/VVdKgVN.jpg');

}

#explorarButton {
    -fx-background-color: #5b1cc1;
    -fx-translate-x: 130px;
    -fx-translate-y: 75px;
    -fx-min-width: 180px;
    -fx-min-height: 45px;

}

#pokedexButton {
    -fx-background-color: #6d6875;
    -fx-translate-x: -120px;
    -fx-translate-y: 105px;
    -fx-min-width: 180px;
    -fx-min-height: 45px;

}

#entrenadorButton {
    -fx-background-color: #282c34;
    -fx-translate-x: -400px;
    -fx-translate-y: -235px;
    -fx-min-width: 180px;
    -fx-min-height: 45px;
}

/*
MOCHILA NO SE MUESTRA EN EL INICIO
*/

#mochilaButton {
    -fx-background-color: #20bf6b;
    -fx-min-width: 180px;
    -fx-min-height: 45px;
}

#tiendaButton {
    -fx-background-color: #3867d6;
    -fx-translate-x: 130px;
    -fx-translate-y: -7.5px;
    -fx-min-width: 180px;
    -fx-min-height: 45px;
}

#salirButton {
    -fx-background-color: #eb3b5a;
    -fx-translate-x: 0px;
    -fx-translate-y: 15px;
    -fx-min-width: 180px;
    -fx-min-height: 45px;
}

/*
HOVER: ESTILO DE CUANDO TIENES EL RATÓN ENCIMA DEL BOTÓN:
- EFECTO DE SOMBRA
- COLOR DEL TEXTO AL TENER EL RATÓN ENCIMA DEL BOTÓN
*/

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 2, 0, 0, 1);
    -fx-text-fill: white;
}

