/*
CONFIGURACIÓN GENERAL DE TODOS LOS BOTONES:
- TAMAÑO DE FUENTE
- ANCHO DEL BOTÓN
- ALTURA DE BOTÓN
- COLOR DEL FONDO DEL BOTÓN DEFAULT
- COLOR DEL TEXTO
*/

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 14px;
}

